.heading {
  font-weight: bold;
  font-style: normal;

  &--1 {
    font-size: 48px;
  }

  &--2 {
    font-size: 42px;
  }

  &--3 {
    font-size: 36px;
  }

  &--4 {
    font-size: 28px;
  }

  &--5 {
    font-size: 20px;
  }

  &--6 {
    font-size: 16px;
  }
}
