.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--clr-black);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;

  &--link {
    position: relative;
    padding: 0;

    &:after {
      content: "";
      position: absolute;
      bottom: 3px;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: var(--clr-white);
      transform: scale(0);
      transform-origin: center;
      transition: all 0.2s;
    }

    &:hover:after {
      transform: scale(1);
    }
  }

  &--lg {
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 8px;
  }

  &--primary {
    background-color: var(--clr-primary);
    color: var(--clr-white);

    &:hover {
      background-color: var(--clr-primary-dark);
    }
  }

  &--gray {
    background-color: var(--clr-black-lighter);
    color: var(--clr-white);

    &:hover {
      background-color: var(--clr-black-light);
    }
  }
}
