{% extends 'base.html' %} {% block pageTitle %}Games{% endblock %} {% block
title %}Games{% endblock %} {% block content %}

<div class="dashboard">
  <ul class="games">
    <li class="games__item">
      <a href="#"> <span class="icon"> &plus;</span> Addition</a>
    </li>
    <li class="games__item">
      <a href="#"> <span class="icon">&minus;</span> Subtraction</a>
    </li>
    <li class="games__item">
      <a href="#"> <span class="icon">&divide;</span> Division</a>
    </li>
    <li class="games__item">
      <a href="#"> <span class="icon">&times;</span> Multiplication</a>
    </li>
  </ul>
</div>

{% endblock %}
