{% extends 'auth-base.html' %} {% block title %}Register{% endblock %} {% block
content %}

<div class="two-screen signup">
  <div class="two-screen__image-screen">
    <h2 class="heading heading--1">Child Arithmetic Learning System</h2>
    <div class="two-screen__image-wrapper">
      <img src="{{ url_for('static', filename='images/kids-learning.jpg') }}" />
    </div>
  </div>
  <div class="two-screen__form">
    <h3 class="heading heading--2">Signup</h3>

    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form method="POST" class="auth-form">
      <div class="form-control">
        <label for="username" class="form-control__label">Full Name</label>
        <input
          type="text"
          name="username"
          required
          class="form-control__input"
        />
      </div>
      <div class="form-control">
        <label for="email" class="form-control__label">Email</label>
        <input type="text" name="email" required class="form-control__input" />
      </div>
      <div class="form-control">
        <label for="password" class="form-control__label">Password</label>
        <input
          type="password"
          name="password"
          required
          class="form-control__input"
        />
      </div>
      <div class="form-control">
        <label for="confirm_password" class="form-control__label"
          >Confirm Password</label
        >
        <input
          type="password"
          name="confirm_password"
          required
          class="form-control__input"
        />
      </div>
      <div class="form-control">
        <label for="phone" class="form-control__label">Phone Number</label>
        <input type="text" name="phone" required class="form-control__input" />
      </div>
      <div class="form-control">
        <label class="form-control__label">User Type</label>
        <label
          ><input
            type="radio"
            name="user_type"
            value="student"
            required
            class="form-control__radio"
          />
          Student</label
        >
        <label
          ><input
            type="radio"
            name="user_type"
            value="teacher"
            required
            class="form-control__radio"
          />
          Teacher</label
        >
      </div>
      <div class="form-control">
        <label for="class_id" class="form-control__label">Class</label>
        <input
          type="text"
          name="class_id"
          required
          class="form-control__input"
        />
      </div>
      <input type="submit" value="Register" class="btn btn--primary w-100" />
      <p class="helper-button">
        Already Have account? <a href="{{ url_for('auth.login') }}">Login</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
