{% extends 'dashboard-admin.html' %} {% block pageTitle %}Users{% endblock %} {%
block title %}Users{% endblock %} {% block content %}

<div class="results">
  <table border="1">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Role</th>
        <th>Class</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>{{ user.full_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.class_id }}</td>
        <td>
          {% if user.active == 1 %} <span style="color: green"> Active</span> {%
          else %} <span style="color: red">Inactive</span> {% endif %}
        </td>
        <td style="min-width: 310px">
          {% if user.role != 'admin' %}
          <form action="" method="post">
            <input type="hidden" name="user_id" value="{{ user.id }}" />
            {% if user.active == 0 %}<button
              class="btn btn--primary"
              name="action"
              value="activate"
            >
              Activate User
            </button>
            {% else %}<button
              class="btn btn--gray"
              name="action"
              value="deactivate"
            >
              Deactivate user
            </button>
            {% endif %}
            <button class="btn btn--gray" name="action" value="delete">
              Delete user
            </button>
          </form>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
